img{
    margin: 5px;
    border: .5px solid red !important;
}

img:hover{
    -webkit-box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.55);
    box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.55);
    border: none !important;
}

.categoriDiv{
    width: 100w;
    height: 30px;
    margin: 15px;
}

div.categoriDiv a:hover{
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
}
